{% load static %}
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static '/home/images/Amaazon-books-01.png' %}" class="object-fit-cover border rounded d-block w-100" alt="..." style="object-fit:contain;
            max-width: 100%;
            max-height: 400px;
            border: solid 1px #CCC">
      <div class="carousel-caption d-none d-md-block" style="color: #000000; font-family: 'B Nazanin'; font-weight: bolder;">
        <h1>فروش کتاب های دست دوم</h1>
        <h3 style="direction: rtl">به زودی در اینجا بخش جدیدی فراهم خواهد شد که ما در آن، کتاب هایی که دیگر به آنها نیازی ندارید را از شما می خریم.</h3>
        <a href="" class="btn btn-warning btn-lg">ثبت آگهی فروش</a>
      </div>
    </div>
  </div>
</div>
</div>
