{% load static %}
<nav class="navbar sticky-bottom bg-body-tertiary" style="border-top-color: #1b1b1b; direction: rtl;">
  <nav class="container-fluid">
    <nav class="nav flex-column bg-body-tertiary" style="max-width: 300px;">
        <a class="navbar-brand" href="/home/" title="BookShop">
            <img src="{% static '/home/images/BookShop_logo.jpg' %}" alt="Logo" width="125" height="50" class="d-inline-block align-text-top" style="border-radius: 10px;">
        </a>
        <span class="navbar-text" style="direction: rtl;">
           کتاب‌ها بهترین دوست برای همنشینی، بهترین مشاور در زمان تردید، بهترین آرام بخش دوران افسردگی، بهترین سرگرمی دوران بازنشستگی، مطمئن‌ترین مخدر برای خستگی، بهترین ورزش برای ذهن، زیباترین باغ طبیعت و زمینی بارور برای بقای ابدی هستند.
        </span>
    </nav>  
    
     <nav class="nav flex-column bg-body-tertiary">
        <h3 style="color: #f3961c;">تماس با ما</h3> 
        <p><i class="fa fa-map-marker" style='font-size:22px;'></i>    آدرس: تهران، بلوار کشاورز، کد پستی: 12345678900</p>
        <p><i class="fa fa-mobile-phone" style='font-size:22px;'></i>    پشتیبانی: 09120111234</p>
        <p><i class="fa fa-envelope" style='font-size:22px;'></i>    پست الکترونیکی: ftmehb@gmail.com</p>
    </nav>
    <nav class="nav flex-column bg-body-tertiary" style="font-size: 18px; align-items: center">
        <h3 style="color: #f3961c">دسترسی سریعتر</h3> 
        <a class="nav-link active" aria-current="page" href="/home/" style="color: #000000; text-decoration: none;">خانه</a>
        <a class="nav-link" href="/cart/" style="color: #000000; text-decoration: none;">سبد خرید</a>
        <a class="nav-link" href="/customer/signin/" style="color: #000000; text-decoration: none;">ورود / ثبت نام</a>
    </nav>  
    <nav class="nav flex-column bg-body-tertiary" style="align-items: center">
        <h3 style="color: #f3961c;">شبکه های اجتماعی</h3>
      <nav class="nav flex-row">
         <a class="navbar-brand" href="#" title="Instagram">
            <i class="fa fa-instagram" style='font-size:24px;'></i>
        </a>
        <a class="navbar-brand" href="#" title="Twitter">
            <i class="fa fa-twitter" style='font-size:24px;'></i>
        </a>
        <a class="navbar-brand" href="#" title="FaceBook">
            <i class="fa fa-facebook" style='font-size:24px;'></i>
        </a> 
        <a class="navbar-brand" href="#" title="Telegram">
            <i class="fa fa-telegram" style='font-size:24px;'></i>
        </a>
       </nav>   
    </nav>  
  </nav>
</nav>