<nav class="navbar bg-body-tertiary"  style="border-bottom-color: #1b1b1b">
  <div class="container">
<ul class="nav justify-content-end nav-underline">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/home/">خانه</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">کتاب ها</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/home/best_sellers/">پرفروش ترین کتاب ها</a></li>
      <li><a class="dropdown-item" href="/home/fiction_books/">کتاب های داستانی و رمان</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home/study_books/">کتاب های درسی</a>
  </li>
</ul>
  </div>
</nav>